.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  mat-card {
    max-width: 600px;
    width: 90%;
    display: flex;
    margin: .75rem;
  }

  mat-card-header {
    display: flex;
    flex-direction: column;
  }

  mat-card-content {
    flex: 1;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

}
