.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: lightblue url("../assets/hexagons.jpg") no-repeat fixed center top;
  background-size: cover;
}

.mat-tab-group {
  max-height: 600px;
  max-width: 600px;
}
