:host {
  height: 100%;
  width: 100%;
}

.app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: lightblue url("../assets/hexagons.jpg") no-repeat fixed center top;
  background-size: cover;
  overflow: hidden;

  //.router-outlet-container {
  //  height: 100%;
  //}
}
